{% extends 'base.html' %}

{% block content %}
<div class="bands-list-container">
    <h1 class="page-title">Music Bands</h1>

    {% if user.is_authenticated %}
        <a href="{% url 'band-add' %}" class="btn add-new-band">Add New Band</a>
    {% endif %}

    <ul class="band-list">
        {% for band in bands %}
            <li class="band-card">
                <a href="{% url 'band-detail' band.pk %}" class="band-link">{{ band.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}